@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --Green-500: hsl(158, 36%, 37%);
    --Green-700: hsl(158, 42%, 18%);
    --Black: hsl(212, 21%, 14%);
    --Grey: hsl(228, 12%, 48%);
    --Cream: hsl(30, 38%, 92%);
    --White: hsl(0, 0%, 100%);
    font-size: 14px;
}

body {
    background-color: var(--Cream);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card {
    background-color: var(--White);
    border-radius: 8px;
    margin: 70px 12px ;
}

.card .mobile {
    width: 100%;
    border-radius: 8px 8px 0 0;
}

.container {
    padding: 20px 32px;
}

h2 {
    font-family: 'Montserrat', serif;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 11px;
    letter-spacing: 5px;
    color: var(--Grey);
}

h1 {
    font-family: 'Fraunces', serif;
    font-weight: 700;
    font-size: 31.5px;
    color: var(--Black);
    width: 95%;
    margin: 16px 0;
}

p {
    font-family: 'Montserrat', serif;
    font-weight: 500;
    font-size: 14px;
    color: var(--Grey);
    line-height: 1.5;
    margin-bottom: 15px;
}

.price { 
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.price p {
    color: var(--Green-500);
    font-family: 'Fraunces', serif;
    font-weight: 700;
    font-size: 31.5px;
}

.price del {
    color: var(--Grey);
    font-family: 'Montserrat', serif;
    font-weight: 500;
    font-size: 12px;
    margin-left: 20px;
    margin-bottom: 15px;
    text-decoration: line-through;
}

button {
    display: flex;
    align-items: center;    
    justify-content: center;
    gap: 11px;
    background-color: var(--Green-500);
    border: none;
    border-radius: 8px;
    width: 100%;
    height: 48px;
    color: var(--White);
    margin-bottom: 15px;
    cursor: pointer;
    font-family: 'Montserrat', serif;
    font-weight: 500;
    font-size: 14px;
}

button:hover {
    background-color: var(--Green-700);
}

/*-------media query-------*/

@media (min-width:376px) and (max-width: 599px) {
    .card {
        margin:70px 20px;
    }
}

@media (min-width: 1440px) and (max-width: 1440px){
    .card {
        display: flex;
        flex-direction: row;
        max-width: 600px;
        height: 450px;
        border-radius: 10px;
        margin: 70px 20px;
        background-color: var(--White);
    }
    
    
}



.attribution { 
    font-size: 11px; 
    text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}