@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --Green-500: hsl(158, 36%, 37%);
    --Green-700: hsl(158, 42%, 18%);
    --Black: hsl(212, 21%, 14%);
    --Grey: hsl(228, 12%, 48%);
    --Cream: hsl(30, 38%, 92%);
    --White: hsl(0, 0%, 100%);
    font-size: 14px;
}

body {
    background-color: var(--Cream);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card {
    background-color: var(--White);
    border-radius: 15px;
    margin: 70px 12px ;
}

.card img {
    width: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.container {
    padding: 20px 32px;
}

h2 {
    font-family: 'Montserrat', serif;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 11px;
    letter-spacing: 5px;
    color: var(--Grey);
}

h1 {
    font-family: 'Fraunces', serif;
    font-weight: 700;
    font-size: 28px;
    color: var(--Black);
    margin: 16px 0;
}











.attribution { 
    font-size: 11px; 
    text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}